/celera_assembler/
/apply_trimming_to_gkp
/las_to_ovb
/read_from_las
/trim_overlaps
/trim_reads
/wrap-module-load.sh
/write_to_ovb


# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
# *.out
*.app

# protobug files
*.pb.h
*.pb.cc
*_pb2.py
